{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Social</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="div">
    <ul class="nav">
        <li>Home</li>
        <li>Accounts</li>
        <li>Profile</li>
        {% if request.user.is_authenticated %}
        <li class="right"><a href="{% url 'logout' %}">Logout</a></li>
        <li class="right">{{user.name}}</li>
        {% else %}
        <li class="right"><a style="color: white;" href="{% url 'signup' %}">Signup</a></li>
        <li class="right"><a style="color: white;" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        
    </ul>

    </div>
    {% block content %}

    {% endblock content %}
</body>
</html>